@if (isLoading) {
<div class="text-center py-12">
  <div class="text-xl text-gray-600">Laden...</div>
</div>
} @if (error && !isLoading) {
<div class="text-center py-12">
  <div class="text-xl text-red-600">{{ error }}</div>
</div>
} @if (element && !isLoading) {
<div class="lg:grid-cols-3 grid grid-cols-1 gap-8 items-start">
  <div class="lg:col-span-1">
    <app-element-card [element]="element"></app-element-card>
  </div>
  <div class="lg:col-span-2">
    <app-element-properties [element]="element"></app-element-properties>
  </div>
</div>
}
