<div class="flex">
  @if (elements.length > 0) {
  <table
    class="mx-auto mt-1 table-fixed border-separate border-spacing-4 text-left"
  >
    <thead>
      <tr class="text-gray-800">
        <th class="text-center">Z</th>
        <th class="text-center">Symbol</th>
        <th class="text-center">Name</th>
        <th class="text-center">Masse</th>
        <th class="text-center">Zustand</th>
        <th class="text-center">Kategorie</th>
        <th class="text-center">Dichte</th>
        <th class="text-center">Gruppe</th>
        <th class="text-center">Periode</th>
        <th class="text-center">Aktion</th>
      </tr>
    </thead>
    <tbody class="text-gray-600">
      @for (element of elements; track $index) {
      <tr>
        <td class="text-center border-b border-dashed border-gray-400">
          {{ element.atomic_number }}
        </td>
        <td
          class="text-center border-b border-dashed border-gray-400 font-bold text-green-600"
        >
          {{ element.symbol }}
        </td>
        <td class="border-b border-dashed border-gray-400 w-20 font-bold">
          {{ element.name }}
        </td>

        <td class="text-center border-b border-dashed border-gray-400">
          {{ element.atomic_mass }}
        </td>
        <td class="text-center border-b border-dashed border-gray-400">
          {{ element.state.name }}
        </td>
        <td class="text-center border-b border-dashed border-gray-400">
          {{ element.category.name }}
        </td>
        <td class="text-center border-b border-dashed border-gray-400">
          {{ element.density }}
        </td>
        <td class="text-center border-b border-dashed border-gray-400">
          {{ element.group?.number || "" }}
        </td>
        <td class="text-center border-b border-dashed border-gray-400">
          {{ element.period.number }}
        </td>
        <td class="text-center border-b border-dashed border-gray-400">
          <button
            type="button"
            (click)="openElement(element.id)"
            class="bg-green-600 hover:bg-green-700 text-white font-bold py-1 px-3 rounded text-sm"
          >
            Öffnen
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
  }
</div>
