<header class="fixed w-full top-0 left-0 z-50 bg-gray-800 text-white px-4 py-2">
  <div class="flex items-center justify-between h-11">
    <nav class="absolute left-1/2 transform -translate-x-1/2">
      <ul class="flex items-center gap-8">
        <li>
          <a
            routerLink=""
            routerLinkActive="underline text-green-500"
            class="font-medium hover:text-green-500 hover:underline transition-all duration-300"
          >
            Alle Elemente
          </a>
        </li>
        <li>
          <a
            routerLink="/search"
            routerLinkActive="underline text-green-500"
            class="font-medium hover:text-green-500 hover:underline transition-all duration-300"
          >
            Suche
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
